# cfg ver. 1.0.4

# Параметры авторизации, можно не заполнять. Инструкция по получению есть в README.md
# Держите эти параметры в секрете!
auth:
  cookie: ''
  authorization: ''

# Файловые параметры
file:
  # Внутри этой папки будут созданы папки авторов boosty
  # Синхронизация контента будет производиться внутри папок авторов
  sync_dir: 'C:\boosty_dumps'
  # Размер чанка загрузки (байты), не изменяйте этот параметр, если не уверены, что делаете
  download_chunk_size: 153600
  # Таймаут загрузки одного файла (секунды), по умолчанию - 2 часа.
  download_timeout: 7200
  # Максимальное количество одновременно загружаемых файлов
  max_download_parallel: 5

# Параметры контента
content:
  # Тип синхронизации: post или media
  storage_type: media
  # true - сохранять текст поста в формате MD (markdown), false - сохранять в txt (с потерей разметки)
  # ссылки будут сохранены в любом случае
  post_text_in_markdown: true
  # сохранять метаданные файлов (если возможно)
  save_metadata: true
  # Какие типы контента нужно сохранять, доступно:
  # videos - видео
  # photos - картинки
  # audios - аудиофайлы (нужна авторизация, заполните блок auth)
  # files - прикрепленные к постам файлы других типов, работает только при storage_type: post (нужна авторизация, заполните блок auth)
  collect:
    - videos
    - photos
    - audios
    - files

# Параметры логирования
logging:
  # Сохранять лог в файл
  enable_file_logging: False
  # Путь к папке, куда следует класть логи
  logs_path: ./
